*{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #DE2B2645 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FDF9F4FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FA5801FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FFFFFFFF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #F5F1EEFF 0%, #FF0000FF 100%);
}